RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

errorDocument 400 http://localhost:8082/projects/jonathanbautista/error
errorDocument 401 http://localhost:8082/projects/jonathanbautista/error
errorDocument 404 http://localhost:8082/projects/jonathanbautista/error
errorDocument 500 http://localhost:8082/projects/jonathanbautista/error