	/* Custom, iPhone Retina */
	@media only screen and (min-width : 100px){
		.navbar-fixed-side {
			background-image: url("../../images/navres.png");
			background-size: 100% 100%;
		}
		.navbar-brand>img {
			margin-top: -12px;
			margin-left: -5px;
			height: 50px;
		}
		.navbar-default .navbar-toggle, .navbar-default a:hover.navbar-toggle, .navbar-default a:focus.navbar-toggle {
			border-color: transparent;
			font-size: 10px;
			color: #fff;
			background-color: transparent;
			margin-left: -13px;
		}
		.carousel-caption {
			bottom: 70px;
		}
		.carousel-indicators {
			bottom: 60px;
		}
	}
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
		.hf h1{
			font-size: 15px;
		}
		.navbar-fixed-side {
			background-image: url("../../images/navres.png");
			background-size: 100% 100%;
		}
		.navbar-brand>img {
			margin-top: -12px;
			margin-left: -5px;
			height: 50px;
		}
		.navbar-default .navbar-toggle, .navbar-default a:hover.navbar-toggle, .navbar-default a:focus.navbar-toggle {
			border-color: transparent;
			font-size: 10px;
			color: #fff;
			background-color: transparent;
			margin-left: -13px;
		}
		.carousel-caption {
			bottom: 70px;
		}
		.carousel-indicators {
			bottom: 60px;
		}
	}
	
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
		.hf h1{
			font-size: 15px;
		}
		.dropdown-content {
			margin-top: 70px;
		}
		.navbar-fixed-side {
			background-image: url("../../images/navres.png");
			background-size: 100% 100%;
			height: 80px;
		}
		.navbar-brand>img {
			margin-top: -10px;
			margin-left: 5px;
			height: 70px;
		}
		.navbar-default .navbar-toggle, .navbar-default a:hover.navbar-toggle, .navbar-default a:focus.navbar-toggle {
			border-color: transparent;
			font-size: 14px;
			color: #fff;
			background-color: transparent;
			margin-top: 15px;
			margin-left: 5px;
		}
		.carousel-caption {
			bottom: 90px;
		}
		.carousel-indicators {
			bottom: 80px;
		}
	}
	
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
		.navbar-fixed-side {
			height: 100%;
			background-image: url("../../images/nav.png");
			background-size: 100% 100%;
			background-color: transparent;
			background-repeat: no-repeat;
			overflow: hidden;
			border: transparent;
		}
		.hf h1{
			font-size: 20px;
		}
		.navbar-brand>img {
			margin-top: -10px;
			margin-left: -10px;
			height: 54px;
		}
	}
	
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
		.navbar-fixed-side {
			background-image: url("../../images/nav.png");
			background-size: 100% 100%;
		}
		.hf h1{
			font-size: 20px;
		}
		.navbar-brand>img {
			margin-left: 8px;
			height: 110px;
		}
		.navbar-brand>img {
			margin-top: -10px;
			margin-left: -10px;
			height: 72px;
		}
	}
	
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
		.navbar-fixed-side {
			background-image: url("../../images/nav.png");
			background-size: 100% 100%;
		}
		.hf h1{
			font-size: 25px;
		}
		.navbar-brand>img {
			margin-left: -6px;
			height: 90px;
		}
	}
	@media only screen and (min-width : 1900px){
		.navbar-brand>img {
			margin-top: 5px;
			margin-left: 5px;
			height: 120px;
		}
	}
	
	@media only screen and (min-height: 350px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 0px;	
		}
	}
	@media only screen and (min-height: 420px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 20px;	
		}
	}
	@media only screen and (min-height: 470px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 70px;	
		}
	}
	@media only screen and (min-height: 550px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 150px;	
		}
	}
	@media only screen and (min-height: 768px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 250px;	
		}
	}
	@media only screen and (min-height: 1000px){
		.navbar-fixed-side .navbar-nav {
			padding-top: 300px;
			font-size: 15px;		
		}
	}

